<%= form_for Todo.new, :html => { :class => 'form-stacked' } do |form| %>
  <p>
    <%= form.label :description %>
    <%= form.text_area :description, :rows => 3 %>
  </p>
  <p class="actions">
    <%= form.submit 'Create', :class => 'btn primary' %><br/>
  </p>
<% end %>

<ul>
  <% @todos.each do |todo| %>
    <li class="task"><%= todo.description %></li>
  <% end %>
</ul>
