<%= form_for Todo.new do |form| %>
  <p>
    <%= form.label :description %><br/>
    <%= form.text_area :description, :rows => 3 %>
  </p>
  <p>
    <%= form.submit 'Create' %><br/>
  </p>
<% end %>

<ul>
  <% @todos.each do |todo| %>
    <li class="task"><%= todo.description %></li>
  <% end %>
</ul>
